{% extends "index.html" %}

{% block title %}Rate Service{% endblock %}

{% block dashboard_content %}

<!-- basic info of services-->
<div class="container">
    <h1 class="mb-4">Rate Service</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ service.name }}</h5>
            <p class="card-text"><strong>Professional:</strong> {{ service.professional.name }}</p>
            <p class="card-text"><strong>Date:</strong> {{ service.date.strftime('%Y-%m-%d') }}</p>
            <p class="card-text"><strong>Contact:</strong> {{ service.professional.phone }}</p>

            <!-- rating-->

            <form action="{{ url_for('user.submit_rating', service_id=service.id) }}" method="POST">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" required><label for="star5"></label>
                        <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
                        <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
                        <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
                        <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">Remarks</label>
                    <textarea class="form-control" id="remarks" name="remarks" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Rating</button>
                <button type="submit" class="btn btn-primary">Cancel</button>
            </form>
        </div>
    </div>
</div>

<style>
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .rating:not(:checked)>input {
        position: absolute;
        top: -9999px;
        clip: rect(0, 0, 0, 0);
    }

    .rating:not(:checked)>label {
        float: right;
        width: 1em;
        padding: 0 .1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        line-height: 1.2;
        color: #ddd;
    }

    .rating:not(:checked)>label:before {
        content: '★ ';
    }

    .rating>input:checked~label {
        color: #f70;
    }

    .rating:not(:checked)>label:hover,
    .rating:not(:checked)>label:hover~label {
        color: gold;
    }

    .rating>input:checked+label:hover,
    .rating>input:checked+label:hover~label,
    .rating>input:checked~label:hover,
    .rating>input:checked~label:hover~label,
    .rating>label:hover~input:checked~label {
        color: #ea0;
    }
</style>
{% endblock %}